h2{
    margin-top: 30px;
    margin-bottom: 10px;
}

.ordenar{
    width: 57vw;
    margin-top: 20px;
}

.order button{
    width: 220px;
    height: 40px;
    border-radius: 30px;
    border: 3px solid rgba(255, 255, 255, 0.8);
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
    font-size: 12px;
    color: #5D786E;
    cursor: pointer;
    font-weight: 500;
}

#star{
    font-size: 18px;
    color: #F9BD72;
    margin-right: 20px;
}

#old{
    font-size: 18px;
    margin-right: 20px;
}

#new{
    font-size: 18px;
    margin-right: 20px;
}

.card-area{
    margin-top: 30px;
}

.card-content{
    width: 57vw;
}

.card{
    width: 250px;
    height: 230px;
    border: 3px solid rgba(255, 255, 255, 0.8);
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6));
    border-radius: 30px 15px 15px 30px;
    padding-left: 16px;
    padding-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.text{
    font-size: 18px;
    width: 60%;
}

.text-data p{
    letter-spacing: 3px;
    font-weight: 600;
}

.assunto{
    font-size: 14px;
    width: 90%;
    margin: 8px 0;
}

#padrao{
    margin-right: 10px;
}

.btn-card{
    width: 180px;
    height: 40px;
    border-radius: 30px;
    border: 3px solid rgba(255, 255, 255, 0.8);
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
    font-weight: 500;
    cursor: pointer;
    color: #000000;
    margin-bottom: 18px;
}

.btn-card-star{
    width: 140px;
    height: 40px;
    border-radius: 30px;
    border: 3px solid rgba(255, 255, 255, 0.8);
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
    font-weight: 500;
    cursor: pointer;
    color: #000000;
}

.btns{
    width: 85%;
    margin-top: 6px;
}

#lixinho{
    font-size: 18px;
    color: #CE312D;
    margin-right: 10px;
}

#star-card{
    font-size: 18px;
    color: #F9BD72;
    margin-right: 10px;
}

.modal-card{
    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;
    position: absolute;
    z-index: 8;

    display: none;
    background-color: #14262b86;
}
.modal-card-historico{
    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;
    position: absolute;
    z-index: 8;

    display: none;
    background-color: #14262b86;
}

.modal-card-content{
    width: 700px;
    height: 650px;

    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
    border: 3px solid rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 30px;
}

.modal-card-content-historico{
    width: 700px;
    height: 650px;

    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
    border: 3px solid rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 30px;
}

#icon-history-cadastrar{
    color: #F9BD72;
    padding-top: 4px;
    padding-left: 1.5px;
    padding-right: 4px;
    margin-right: 3px;
}

.mostrar{
    display: flex;
}

.btn-deletar-historico{
    width: 140px;
    height: 40px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6));
    outline: none;
    border: none;
    font-size: 14px;
    color: 000;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
}

.btn-favoritar-historico{
    width: 140px;
    height: 40px;
    margin-left: 20px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6));
    outline: none;
    border: none;
    font-size: 14px;
    color: 000;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
}